user.config
engine

# Visual Studio
.vs
Release
bin
obj
*.ncb
*.vcproj*
*.suo
*.user
*.sln.cache
*.manifest
*.CodeAnalysisLog.xml
*.lastcodeanalysissucceeded
_ReSharper.*/

# binaries
/*.exe
/*.dll
/*.dll.config
/*.so
/*.dylib
/*.pdb
/*.mdb
*.mmdb.gz
/mods/ra2/*.dll
/mods/ra2/*.dll.config
/mods/ra2/*.pdb
/mods/ra2/*.mdb
/mods/ra2/*.exe
/mods/ra2/*.exe.config
/mods/ra2/*.deps.json

# TODO: Compiling creates a /mods/common folder with dlls and pdbs
OpenRA.Mods.RA2/mods/*
mods/common/*

# StyleCop
StyleCopViolations.xml

# backup files by various editors
*~
*.orig
\#*
.*.sw?

# Monodevelop
*.pidb
*.userprefs

# Mac OS X
.DS_Store

# XCode
temp.c
temp.o
temp.s
*.resources

# SublimeText
*.sublime-project
*.sublime-workspace
