######################
# Core Configuration #
######################

MOD_ID="ra2"

ENGINE_VERSION="release-20200503"

WHITELISTED_MOD_ASSEMBLIES="OpenRA.Mods.RA2.dll"

##########################
# Continuous Integration #
##########################

TRAVIS_TEST_MOD="True"

TRAVIS_TEST_PACKAGING="False"

###########################
# Packaging Configuration #
###########################

PACKAGING_INSTALLER_NAME="RA2Mod"

PACKAGING_DISPLAY_NAME="Red Alert 2 Mod"

PACKAGING_WEBSITE_URL="http://openra.net"

PACKAGING_FAQ_URL="http://wiki.openra.net/FAQ"

PACKAGING_AUTHORS="The Red Alert 2 Mod authors"

PACKAGING_OSX_LAUNCHER_TAG="osx-launcher-20200209"

# The macOS disk image icon positions, matched to the background artwork
PACKAGING_OSX_DMG_MOD_ICON_POSITION="190, 210"
PACKAGING_OSX_DMG_APPLICATION_ICON_POSITION="410, 210"
PACKAGING_OSX_DMG_HIDDEN_ICON_POSITION="190, 350"

PACKAGING_WINDOWS_LAUNCHER_NAME="RA2Mod"

PACKAGING_WINDOWS_INSTALL_DIR_NAME="OpenRA Red Alert 2 Mod"

PACKAGING_WINDOWS_REGISTRY_KEY="OpenRARA2Mod"

PACKAGING_WINDOWS_LICENSE_FILE="./LICENSE"

PACKAGING_APPIMAGE_DEPENDENCIES_TAG="20200222"

PACKAGING_COPY_ENGINE_FILES="./mods/modcontent"

PACKAGING_OVERWRITE_MOD_VERSION="False"

##########################
# Advanced Configuration #
##########################

# Can be overwritten in user.config if you want to manage it manually/using git (e.g. submodules)
AUTOMATIC_ENGINE_MANAGEMENT="True"

AUTOMATIC_ENGINE_SOURCE="https://github.com/OpenRA/OpenRA/archive/${ENGINE_VERSION}.zip"

AUTOMATIC_ENGINE_EXTRACT_DIRECTORY="./engine_temp"
AUTOMATIC_ENGINE_TEMP_ARCHIVE_NAME="engine.zip"
ENGINE_DIRECTORY="./engine"

PACKAGING_OSX_LAUNCHER_SOURCE="https://github.com/OpenRA/OpenRALauncherOSX/releases/download/${PACKAGING_OSX_LAUNCHER_TAG}/launcher.zip"

PACKAGING_OSX_LAUNCHER_TEMP_ARCHIVE_NAME="launcher.zip"

PACKAGING_APPIMAGE_DEPENDENCIES_SOURCE="https://github.com/OpenRA/AppImageSupport/releases/download/${PACKAGING_APPIMAGE_DEPENDENCIES_TAG}/libs.tar.bz2"

PACKAGING_APPIMAGE_DEPENDENCIES_TEMP_ARCHIVE_NAME="libs.tar.bz2"

WHITELISTED_OPENRA_ASSEMBLIES="OpenRA.Game.exe OpenRA.Utility.exe OpenRA.Platforms.Default.dll OpenRA.Mods.Common.dll OpenRA.Mods.Cnc.dll OpenRA.Game.dll"

WHITELISTED_THIRDPARTY_ASSEMBLIES="ICSharpCode.SharpZipLib.dll FuzzyLogicLibrary.dll MaxMind.Db.dll Eluant.dll rix0rrr.BeaconLib.dll Open.Nat.dll SDL2-CS.dll OpenAL-CS.dll"

WHITELISTED_CORE_ASSEMBLIES="mscorlib.dll System.dll System.Configuration.dll System.Core.dll System.Numerics.dll System.Security.dll System.Xml.dll Mono.Security.dll"
