######################
# Core Configuration #
######################

MOD_ID="ra2"

ENGINE_VERSION="release-20250330"

###########################
# Packaging Configuration #
###########################

PACKAGING_INSTALLER_NAME="RA2Mod"

PACKAGING_DISPLAY_NAME="Red Alert 2 Mod"

PACKAGING_WEBSITE_URL="https://openra.net"

PACKAGING_FAQ_URL="https://wiki.openra.net/FAQ"

PACKAGING_AUTHORS="The Red Alert 2 Mod authors"

PACKAGING_COPY_CNC_DLL="True"

PACKAGING_COPY_D2K_DLL="False"

PACKAGING_DISCORD_APPID=""

# The macOS disk image icon positions, matched to the background artwork
PACKAGING_OSX_DMG_MOD_ICON_POSITION="190, 210"
PACKAGING_OSX_DMG_APPLICATION_ICON_POSITION="410, 210"
PACKAGING_OSX_DMG_HIDDEN_ICON_POSITION="190, 350"

PACKAGING_WINDOWS_LAUNCHER_NAME="RA2Mod"

PACKAGING_WINDOWS_INSTALL_DIR_NAME="OpenRA Red Alert 2 Mod"

PACKAGING_WINDOWS_REGISTRY_KEY="OpenRARA2Mod"

PACKAGING_WINDOWS_LICENSE_FILE="./LICENSE"

PACKAGING_COPY_ENGINE_FILES="./mods/modcontent"

PACKAGING_OVERWRITE_MOD_VERSION="False"

##########################
# Advanced Configuration #
##########################

# Can be overwritten in user.config if you want to manage it manually/using git (e.g. submodules)
AUTOMATIC_ENGINE_MANAGEMENT="True"

AUTOMATIC_ENGINE_SOURCE="https://github.com/OpenRA/OpenRA/archive/${ENGINE_VERSION}.zip"

AUTOMATIC_ENGINE_EXTRACT_DIRECTORY="./engine_temp"
AUTOMATIC_ENGINE_TEMP_ARCHIVE_NAME="engine.zip"
ENGINE_DIRECTORY="./engine"
