######################
# Core Configuration #
######################

MOD_ID="ra2"

ENGINE_VERSION="4204ba"

INCLUDE_DEFAULT_MODS="False"

###########################
# Packaging Configuration #
###########################

PACKAGING_INSTALLER_NAME="RA2Mod"

PACKAGING_DISPLAY_NAME="Red Alert 2 Mod"

PACKAGING_WEBSITE_URL="http://openra.net"

PACKAGING_FAQ_URL="http://wiki.openra.net/FAQ"

PACKAGING_AUTHORS="The Red Alert 2 Mod authors"

PACKAGING_OSX_LAUNCHER_TAG="osx-launcher-20170708"

PACKAGING_WINDOWS_LAUNCHER_NAME="RA2Mod"

PACKAGING_WINDOWS_INSTALL_DIR_NAME="OpenRA Red Alert 2 Mod"

PACKAGING_WINDOWS_REGISTRY_KEY="OpenRARA2Mod"

##########################
# Advanced Configuration #
##########################

# Can be overwritten in user.config if you want to manage it manually/using git (e.g. submodules)
AUTOMATIC_ENGINE_MANAGEMENT="True"

AUTOMATIC_ENGINE_SOURCE="https://github.com/OpenRA/OpenRA/archive/${ENGINE_VERSION}.zip"

AUTOMATIC_ENGINE_EXTRACT_DIRECTORY="./engine_temp"
AUTOMATIC_ENGINE_TEMP_ARCHIVE_NAME="engine.zip"
ENGINE_DIRECTORY="./engine"

PACKAGING_OSX_LAUNCHER_SOURCE="https://github.com/OpenRA/OpenRALauncherOSX/releases/download/${PACKAGING_OSX_LAUNCHER_TAG}/launcher.zip"

PACKAGING_OSX_LAUNCHER_TEMP_ARCHIVE_NAME="launcher.zip"

